name: BlueBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug Cosign secrets
        run: |
          if [ -z "$SIGNING_SECRET" ]; then
            echo "SIGNING_SECRET is EMPTY"
          else
            echo "SIGNING_SECRET length: ${#SIGNING_SECRET}"
          fi

          if [ -z "$COSIGN_PRIVATE_KEY" ]; then
            echo "COSIGN_PRIVATE_KEY is EMPTY"
          else
            echo "COSIGN_PRIVATE_KEY length: ${#COSIGN_PRIVATE_KEY}"
          fi
        env:
          SIGNING_SECRET: ${{ secrets.SIGNING_SECRET }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}

      - name: Write cosign.key from secret
        run: echo "$COSIGN_PRIVATE_KEY" > cosign.key
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}

      - name: BlueBuild
        uses: blue-build/github-action@v1
        with:
          recipe: ./recipes/recipe.yml
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }} 
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
