name: BlueBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: BlueBuild
        uses: blue-build/github-action@v1
        with:
          recipe: ./recipes/recipe.yml
