permissions:
  contents: read
  packages: write

name: BlueBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Debug Cosign secrets
        run: |
          if [ -z "$SIGNING_SECRET" ]; then
            echo "SIGNING_SECRET is EMPTY"
          else
            echo "SIGNING_SECRET length: ${#SIGNING_SECRET}"
          fi

          if [ -z "$COSIGN_PRIVATE_KEY" ]; then
            echo "COSIGN_PRIVATE_KEY is EMPTY"
          else
            echo "COSIGN_PRIVATE_KEY length: ${#COSIGN_PRIVATE_KEY}"
          fi
        env:
          SIGNING_SECRET: ${{ secrets.SIGNING_SECRET }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}

      - name: Write cosign.key from secret
        run: echo "$COSIGN_PRIVATE_KEY" > cosign.key
        env:
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}

      - name: BlueBuild
        uses: blue-build/github-action@v1
        with:
          recipe: recipe.yml
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }} 
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
  
  
  build-iso:
    runs-on: ubuntu-latest
    needs: build # Only runs if the main build succeeds
    if: github.event_name != 'pull_request' # Usually recommended to only build ISOs on main branch pushes
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - name: Generate ISO
        uses: jasonn3/build-container-installer@v1.4.0
        with:
          image_name: bsk-os_alpha
          image_repo: ghcr.io/masterionio
          image_tag: 43
          iso_name: bsk-os-alpha.iso
          variant: COSMIC
          version: 43 # Required for F43 compatibility currently
          web_ui: false
          
          # --- Signing & Secure Boot ---
          image_signed: true
          # Replace with your actual public key URL (usually in your repo root)
          secure_boot_key_url: https://github.com/Masterionio/bsk-os/blob/main/cosign.pub
          # This password is used to enroll the key into your BIOS/MOK on first boot
          enrollment_password: BSKos12894
          
          # --- Caching ---
          enable_cache_dnf: true
          enable_cache_skopeo: true
      - name: Upload ISO as artifact
        uses: actions/upload-artifact@v6
        with:
          name: bsk-os-iso_alpha_v1.00.0
          path: ./*.iso
